<p id="notice"><%= notice %></p>

<h1>My Requests</h1>

<div class="container-fluid">
  <div class="row" style="margin-top: 15px">
      <% @requests.each do |request| %>
      
        <div class="col-sm-4">
          <%= link_to(request) do %>
            <%= image_tag(request.image_url) %>
          <% end %>
        </div>
      <% end %>
  </div> 
</div>
